@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Playfair+Display:wght@400;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    background-color: #5A3A2B;
    font-family: 'Playfair Display', sans-serif;
    margin: 1.5em;
}

.name-logo {
    display: flex;
    align-items: center;
    gap: .3em;
}

.name-logo h1 {
    font-size: 2.6rem;
    color: #70E2F5;
}

.bios {
    border-radius: 1em;
    border: 1px solid #5EEC5B;
    background: #7A4F3B;
    margin: 10em 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.bios:hover {
    border: 3px solid #5EEC5B;
}

.family-portrait {
    border-radius: 1em;
    max-width: 100%;
}

.main-bios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5em;
    gap: 5em;
}

.main-bios-wrapper h1 {
    color: #70E2F5;
    font-size: 2.4rem;
    margin: 0;
}

.main-bios-wrapper p {
    color: white;
}

.main-bios-wrapper p.job-title {
    font-size: 2.2rem;
}

.main-bios-wrapper p.job-title {
    font-size: 2.2rem;
}

.job-desc-container {
    display: flex;
    gap: .8em;
    align-items: flex-start;
}

.job-desc-container svg {
    width: 10em;
}

.main-bios p.job-desc {
    font-size: 1.6rem;
    margin: 0;
}

a.cta {
    background: #70E2F5;
    text-decoration: none;
    border-radius: 1em;
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

a.cta:hover {
    border: 3px solid #5EEC5B;
}

a.cta p {
    font-size: 2.6rem;
    color: #7A4F3B;
    margin: 0;
    font-weight: bold;
}